<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<div class="sidebar-group">
    <div class="sidebar" id="viewed">
        <div class="card">
            <div class="card-body recentlyViewedBlock" style="display:none;">
                <h6 class="card-title"><%- page.l.watched %></h6>
                <div id="recentlyViewed"></div>
            </div>
        </div>
    </div>
</div>